.app {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "search search search"
    "contents contents contents"
    "footer footer footer";
  .header {
    grid-area: header;
    border-bottom: 3px solid #4e7ae7;
  }
  .search {
    grid-area: search;
  }

  .contents {
    grid-area: contents;
    // grid-column: 1 / 4;
  }
  .footer {
    background-color: lightcoral;
    grid-area: footer;
    text-align: center;
  }
}
